{% extends "layout.html" %}

{% block title %}
    Support
{% endblock %}

{% block main %}
    <main class="container">
        <h1>Support</h1>
        <br>
        <div style="font-size:18px">
            <p>EPGH Cycle Resource was created as a final project to satisfy the requirements for <a href="https://pll.harvard.edu/course/cs50-introduction-computer-science">CS50x's Introduction to Computer Science</a>.  As such, it is still a work in progress.</p>
            <p>There were many additional features I wanted to add, but in the interest of time and completing this project for submission, some things had to be cut.</p>
            <p>In addition to providing technical support for the site, as time permits I will consider requests for features, additional trails, and any other constructive comments at the contact link below.</p>
            <p>Thank you for visiting and see you on the trails!</p>
            <br>
            <p><a href="mailto:xm1h3dy@gmail.com">email Support</a></p>
        </div>
    </main>

{% endblock %}
