{% extends "layout.html" %}

{% block title %}
    Trails
{% endblock %}

{% block main %}

    <form action="/trails" method="post">
        <main class="container py-6">
           <h1>Trails</h1>
            {% for trail in trails %}
            <div class="trails-list space">
                <img src="{{ trail.pic }}" alt="picture" width="350" height="auto" />

                {% if trail.l_name == trail.s_name %}
                    <h2>{{ trail.l_name }}</h2>

                {% else %}
                    <h2>{{ trail.l_name }} ({{ trail.s_name }})</h2>

                {% endif %}

                <p>{{ trail.desc }}</p>
            </div>
            <div class="clear"></div>
            {% endfor %}

        </main>

{% endblock %}
