{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
    <main class="container">
        <h1>Welcome to East Pittsburgh Cycle Resource</h1>
        <br>
        <div style="font-size:18px">
            <p>Welcome to East Pittsburgh Cycle Resource.  This site was created for cyclists on the east side of Pittsburgh to track and compare their progress with fellow riders and to discover trails local to the area.</p>
            <p>If you haven't already, please <a href="/register">register</a> to access our services and start adding rides to begin tracking your progress.</p>
            <p>Please <a href="mailto:xm1h3dy@gmail.com">email</a> any issues, questions or requests to our support staff and we will respond as soon as possible.</p>
            <p>Thank you for visiting!</p>
        </div>
    </main>

{% endblock %}
